@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
    font-family: 'Roboto', sans-serif; 
    background-color:#E5E5E5;
}

.container{
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topo{
    text-align: center;
    font-size: 56px;
    height: 63px;
    font-weight: 700;
    color: #75B79E;
    margin-bottom: 47px;
}

.MesaCartas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.MesaCartas > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 117px;
    height: 146px;
    margin: 0 17px 17px 17px;
    background-color: #99CEA8;
    border-radius: 5px;
    border: 1px solid #99CEA8;
}

.MesaCartas img{
    width: 100px;
    height: 100px;
}

@media (max-width: 540px){

.topo{
    font-size: 36px;
}

}